@import './variables';
.logged_in {
  .flash {
  	display: block; position: fixed; padding: 1em 2em; bottom: 3.125em; right: 3.125em;
    transition: 500ms;
    opacity: 1;

    &_notice {
      background-color: $notice;
      color: white;
    }
    &.hide {
      opacity: 0;
    }
  }
}
