.reorderable_relation_container {
  &-list {
    list-style-type: none;
    padding: .5rem;
    background: #F2F2F2;
    border: 1px solid #E6E6E6;
    &-item {
      border: 2px solid #E6E6E6;
      margin-bottom: .1rem;
      background: #fff;
      padding: .5rem 1rem .5rem 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &-title {
        font-weight: 600;
        flex: 1 1 300px;
      }
      &-remove {
        font-weight: 600;
        flex: 0 0 1rem;
        cursor: pointer;
        color: #E6E6E6;
        &:hover {
          color: #469CFF;
        }
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    .reorder-handle {
      position: relative;
      top: -.15rem;
      content: '....';
      flex: 0 0 10px;
      width: 10px;
      height: 1.5rem;
      display: inline-block;
      overflow: hidden;
      line-height: 5px;
      cursor: move;
      vertical-align: middle;
      margin-right: 1rem;
      font-size: 16px;
      letter-spacing: 2px;
      color: #469CFF;
      &:before{
        content: '.. .. .. ..';
        color: #469CFF;
      }
    }
    .sortable-ghost {
      opacity: .2;
      border-color: #E6E6E6;
    }
    .sortable-chosen {
      border-color: #469CFF;
    }
  }
}
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; padding: .5rem;}
.autocomplete-suggestion { padding: .5rem 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #469CFF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
