@import './responsive';
@import './variables';
@import './fonts';
@import './elements';
@import './tables';
.logged_in {
  #wrapper {
    #active_admin_content {
      #main_content_wrapper {
        #main_content {
          .ui-tabs {
            .ui-tabs-nav {
              @extend %blue_section;
              display: -ms-grid; display: grid;
              grid-row: resource-tabs;
              grid-column: auto;
              display: flex;
              align-items: stretch;
              margin: -1px 0 0; height: 4em; padding: 0 2em;

              .ui-tabs-tab {
                @extend %tab_link;
                position: relative; height: 1em; padding: 0; margin-top: 1.2em; margin-right: 3em;
                text-decoration: none; list-style: none;
                transition: color 0.2s;
                a {
                  @extend %tab_link;
                  padding: 8px 12px; display: inline-block;
                }
                a:hover {
                  color: $white;
                }
                &.ui-tabs-active {
                  a {
                    @extend %small_button;
                    padding: 8px 12px;
                    color: white; border: none; background: $blue_dark;
                    &:hover {
                      background: darken($blue_dark, 10%);
                    }
                  }
                }
                &.ui-tabs-error a {
                  color: $alert;

                  &:hover {
                    color: $white;
                  }
                }
                &.ui-tabs-active.ui-tabs-error a {
                  background: $alert;
                  color: $white;
                }
              }
            }
            .tab-content {
              legend { visibility: hidden; }
              .panel h3 {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
