.logged_in {
  #wrapper {
    #active_admin_content {
      #main_content_wrapper {
        #main_content {
          .ui-tabs {
            .ui-tabs-nav {
              display: flex;
              justify-content: flex-start;
              padding: 0 0 0 2em;
              list-style-type: none;

              .ui-tabs-tab {
                a {
                  @extend %general_link;
                  display: block; padding: .5em 1em; margin-left: .5em;
                  background: $grey_lightest;
                  outline: none !important;
                }
                &.ui-tabs-active a {
                  @extend %general_link;
                  background: $blue;
                  color: $white;
                }
                &.ui-tabs-error a {
                  color: $alert;
                }
                &.ui-tabs-active.ui-tabs-error a {
                  background: $alert;
                  color: $white;
                }
              }
            }
            .tab-content {
              legend { visibility: hidden; }
            }
          }
        }
      }
    }
  }
}
