.logged_in {
  #utility_nav {
    display: flex;
    align-items: center;

    li {
      display: inline-block;

      &#current_user {
        @extend %user_link;
        display: flex;
        align-items: center;
        margin-right: 1em;
        transition: 0.2s;
        &:before {
          content: ' ';
          display: inline-block; width: 20px; height: 20px; margin-right: .25em; margin-left: -.25em;
          background: image-url("svgs/user.svg") no-repeat;
        }
        &:hover {
          color: white;
        }
      }
    }
    #logout {
      @extend %sign_out_link;
      transition: 0.2s;

      &:hover {
        color: white;
      }
    }
    a {
      color: inherit;
    }
  }
}
