.logged_in {
  #titlebar_right {
    .action_items {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      span.action_item > a, #title_bar .action_items div.action_item {
        @extend %action_button;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        svg { fill: $blue;}
      }
      div.action_item.active {
        background: $blue;
        color: white;
        svg { fill: white;
        }
      }
      div.action_item {
        .arrow {
          padding-right: 1.2em;
          svg { -webkit-transition: .2s; transition: .2s; }
        }
      }
      div.action_item:hover {
        > svg { fill: white;
        }
        .arrow svg { -webkit-transform: rotate(180deg); transform: rotate(180deg);
        }
        span svg { fill: $blue;
        }
      }
    }
  }
}
