.dialog_wrapper{
  position: fixed; top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, .75);
  z-index: 10;

  .ui-dialog {
    position: relative; height: auto; width: 300px; margin: 0 auto; padding: 20px; top: 50% !important; left: 0 !important;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border: 1px solid rgb(204, 204, 204); border-radius: 4px;
    background: rgb(255, 255, 255);

    &-titlebar {
      font-family: 'Lato', sans-serif; font-size: 16px; font-weight: 400;
      color: $blue;

      button {
        position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; padding: 0; width: 30px; height: 30px; top: -15px; right: -15px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        overflow: hidden;
        cursor: pointer;
        background: $blue;
        border-radius: 50%; border-width: 0;
        -webkit-transition: .2s;
        transition: .2s
      }

      button:before {
        content: ' ';
        background: image-url('svgs/cross.svg') no-repeat;
        display: inline-block;
        width: 20px;
        height: 20px;
      }

      button {

        svg { fill: white;
        }

        span {display: none;
        }
      }

      button:hover {
        -webkit-transform: scale(1.25);
                transform: scale(1.25);
      }
    }
    &-buttonpane {
      button {
        -webkit-box-sizing: border-box;
                box-sizing: border-box; display: inline-block;
        padding: 8px 12px; margin-right: 12px; height: 40px;
        font-family: 'Lato', sans-serif; font-size: 14px; font-weight: 400; color: $blue;
        background: white; text-decoration: none;
        border: 2px solid $blue; border-radius: 3px;
        cursor: pointer;

        -webkit-transition: .2s;

        transition: .2s
      }
      button:hover {
        color: white;
        background: $blue;
      }
    }
  }
}

