%main_content_container {
  padding: 0;
}
/*/// ELEMENTS /////*/
%container {
  padding: 30px; margin-bottom: 10px;
  border-radius: 3px;
}
%narrow_container {
  padding: 10px; margin-bottom: 10px;
  border-radius: 3px;
}
%container_blue {
  @extend %container;
  background: $blue;
}
%container_black {
  @extend %container;
  background: $grey_darkest;
}
%container_grey {
  @extend %container;
  background: $grey_lightest;
}
%container_alert {
  @extend %narrow_container;
  background: $alert;
  color: $white;
}
%admin_text_view_field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 8px 8px .5em; height: 40px; margin: 0;
  font-family: 'Lato', sans-serif; font-size: 16px; font-weight: 700;
  color: $grey_dark;
}
%admin_text_input_field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 8px 8px .5em; height: 40px;
  margin: 0;
  font-family: 'Lato', sans-serif; font-size: 16px; font-weight: 700;
  color: $grey_darkest;
  background: $grey_lightest;
  border: none;
  border-bottom: 1px solid $grey_lighter;
  -webkit-transition: .2s;
  transition: .2s
}
%admin_text_input_field:focus {
  outline: none;
  background: rgba($blue,.1);
  border-color: $blue;
}
%admin_text_input_field:hover {
  border-color: $blue;
}
%admin_text_input_field:hover:-moz-read-only, %admin_text_input_field:focus:-moz-read-only {
  border-color: $grey_lightest;
}
%admin_text_input_field:hover:read-only, %admin_text_input_field:focus:read-only {
  border-color: $grey_lightest;
}
%admin_text_input_field:-moz-read-only {
  background-color: $blue;
  color: $white;
  font-weight: 100;
}
%admin_text_input_field:read-only {
  background-color: $blue;
  color: $white;
  font-weight: 100;
}
%text_input_field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 12px; height: 40px;
  font-family: 'Lato', sans-serif; font-size: 16px; font-weight: 700;
  color: $grey_darkest;
  background: $white;
  border: 1px solid $grey_lighter; border-radius: 3px;
  -webkit-transition: .2s;
  transition: .2s
    
}
%text_input_field:hover {
  border-color: $blue;
}
.page_entry {
  @extend %text_input_field;
}

%action_button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; display: inline-block;
  padding: 0 1.2em 0 1.2em; height: 100%;
  font-family: 'Lato', sans-serif; font-size: 14px; font-weight: 400; color: $blue;
  background: white; text-decoration: none;
  border-left: .1em solid $grey_lightest;
  cursor: pointer;

  -webkit-transition: .2s;

  transition: .2s

}

%action_button:hover {
  background: $grey_lightest;
}


%button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; display: inline-block;
  padding: 8px 12px; height: 40px;
  font-family: 'Lato', sans-serif; font-size: 14px; font-weight: 400; color: $blue;
  background: white; text-decoration: none;
  border: 2px solid $blue; border-radius: 3px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s

}


%button:hover {
  color: white;
  background: $blue;
}
%small_button {
  @extend %button;
  padding: 6px 10px; height: 34px;
  font-size: 14px;
}

.button {
  @extend %button
}

.button.small {
  @extend %small_button;
}


.container.blue {
  .button {
    padding: 8px 12px;
    color: white;
    border: none;
    background: $blue_dark
  }
  .button:hover {
    background: darken($blue_dark, 10%);
  }
}
.svg-icon {
  width: 20px; height: 20px;
  display: inline-block;
}

%general_link {
  @extend .link_style;

  position: relative;
  color: $blue;
  text-decoration: none
}

%general_link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: $blue;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

%general_link:hover {
  color: $blue;
  text-decoration: none;
}

%general_link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav_header {
  font-family: 'Lato', sans-serif; font-size: 16px; line-height: 1.2em; font-weight: 400; color: $white;
}
%nav_link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 8px 12px; height: 40px;
  font-family: 'Lato', sans-serif; font-size: 16px; font-weight: 400; color: white; text-decoration: none;

  -webkit-transition: .2s;

  transition: .2s
}
%nav_link:hover {
  color: white;
  background: $grey_darkest;
}
%nav_link_active {
  @extend %nav_link;
  color: $blue;
  background: $grey_darkest;
}

.nav_link {
  @extend %nav_link;
}
.nav_link_active {
  @extend %nav_link_active;
}

%user_link {
  font-family: 'Lato', sans-serif; font-size: 14px; font-weight: 400; color: $blue;
}
%sign_out_link {
  font-family: 'Lato', sans-serif; font-size: 14px; font-weight: 400; color: $grey;
}

.user_link {
  @extend %user_link;
}

.sign_out_link {
  @extend %sign_out_link;
}

%filter_label {
  font-family: 'Lato', sans-serif; font-size: 14px; font-weight: 400; color: $white;
}

%filter_dropdown {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; display: inline-block;
  padding: 6px 10px; height: 34px;
  font-family: 'Lato', sans-serif; font-size: 14px; font-weight: 400; color: $white;
  border: 1px solid $white; border-radius: 3px;
  -webkit-transition: .4s;
  transition: .4s;
}

%filter_field {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; display: inline-block;
  padding: 6px 10px; height: 34px;
  font-family: 'Lato', sans-serif; font-size: 14px; font-weight: 400; color: $grey;
  background: $white; border: 2px solid $white; border-radius: 3px
}

%filter_field:focus {
  outline: none;
  color: $grey_darker;
  border-color: $blue_dark;
}

%tab_link {
  font-family: 'Lato', sans-serif; font-size: 14px; font-weight: 400; color: $blue_dark
}

%tab_link.active {
  color: $white;
}


.tab_link {
  @extend %tab_link;
}

%blue_section {
  background: $blue;
  padding: 0.5em 2em;
  width: 100%;
}

%index_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
%index_list__item {
  background: white;
  border-bottom: 1px solid $grey_lighter;
}
%index_list__item-header {
  padding: .75em 1em;
}
%index_list__item-content {
  padding: .75em 1em;
}

%action-button-alt {
  display: inline-block;
  cursor: pointer;
  padding: .5em 1em;
  border: none;
  border-radius: .3em;
  color: white;
  background: $blue_dark;
  text-decoration: none;
  -webkit-transition: .4s;
  transition: .4s
}

%action-button-alt:hover {
  background: white;
  color: $blue_dark;
}

%label {
  @extend .para_style;
  padding-left: .5em; margin-bottom: .25em;
  color: $blue;
  abbr {
    text-decoration: none;
  }
}
%hint {
  @extend .para_style;
  padding-left: .5em; margin-top: .25em; margin-bottom: .25em;
  color: $grey_light;
  abbr {
    text-decoration: none;
  }
}
%large_cta {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative; padding: 3em; max-width: 60vw; margin: 2em auto;
  border-radius: 3px; background: white;
  border: 5px solid white

}
%large_cta:before {
  content: ' ';
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  border: 2px dashed $grey_lighter;
}
%large_cta {
  span, .main_text {
    @extend .h4;
    display: block; position: relative;
    text-align: center;
  }
  span.alternative_text {
    display: inline;
    cursor: pointer;
  }
  .alternative_text {
    color: $blue;
    text-decoration: none;
  }
  .large-cta__hint {
    @extend .para;
    text-align: center;
    color: $grey_light;
  }
}
.svg-icon {
  fill: $blue;
}

%open-close-icon {
  border: 0.2em solid white; border-radius: 50%;
  -webkit-transition: 0.2s;
  transition: 0.2s
}

%open-close-icon.open:after {
  content: '';
  display: inline-block;
  margin-top: 0.55em;
  margin-left: 0.6em;
  width: 0.5em;
  height: 0.5em;
  border-top: 0.2em solid white;
  border-right: 0.2em solid white;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

%open-close-icon.closed:after {
  content: '';
  display: inline-block;
  margin-top: 0.55em;
  margin-left: 0.45em;
  width: 0.5em;
  height: 0.5em;
  border-top: 0.2em solid white;
  border-right: 0.2em solid white;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

%pagination {
  .pagination_information, .download_links {
    @extend .para_small_style;
    display: inline-block;
    a { @extend %general_link; }
  }
  .pagination_information, .download_links span {
    padding-left: 1em;
    color: $grey;
  }
  .pagination_information { padding-left: 1em; }
  .download_links span { padding-left: 0.5em; }
  .download_links:before {
    content: '|';
    padding: 0 .5em;
  }
  .pagination {
    @extend .para_small_style;
    margin-bottom: .5em; padding-left: 1em;
    .page {
      color: $blue;
      margin-right: .25em
    }
    .page.current {
      display: inline-block;
      padding: .5em .75em;
      background: $blue;
      color: $white;
    }
    .page {
      a {
        background: $white;
        text-decoration: none; color: inherit; padding: .5em .75em; display: inline-block;
      }
    }
    .next a, .last a, .prev a, .first a {
      @extend %general_link;
    }
  }
}

%index_table {
  table {
    width: 100%;
    tbody {
      td {
        @extend .para_small_style;
        padding: .75em .65em;
        a {
          @extend %general_link;
          font-size: 16px;
        }
      }
      tr {
        td {
          @extend .table_normal_cell
        }
        td.col-selectable {
          .resource_selection_cell input:hover {
            cursor: pointer;
          }
        }
        > td:not(.col-selectable):first-child {
          padding-left: 1em;
        }
      }
    }
    thead {
      tr {
        th {
          @extend .table_header_cell;
          a {
            @extend .para_style;
            position: relative; margin-right: 1em;
            color: inherit;
          }
        }
        th.sortable {
          a:before, a:after {
              content: "";
              position: absolute; display: block; height: 0; width: 0; right: 5px; top: 50%;
              border: 4px solid transparent;
          }
          a:before {
              margin-right: -1.2em; margin-top: -.5em;
              border-bottom-color: #666;
          }
          a:after {
              margin-right: -1.2em; margin-top: .15em;
              border-top-color: #666;
          }
        }
        th.col-selectable {
          .resource_selection_toggle_cell input:hover {
            cursor: pointer;
          }
        }
        > th:not(.col-selectable):first-child {
          padding-left: 1em;
        }
      }
    }
  }

  @include respond-to-less-than($large_break) {
    table {
      position: relative; margin-bottom: 3em;
      border-collapse: collapse; border-bottom: 1em solid $grey_lightest
    }
    table:last-child {
      margin-bottom: 0;
    }
    table {
      tbody {
        tr {
          td {
            border: none !important;

            .resource_selection_toggle_cell, .resource_selection_cell {
              display: none;
            }
          }
          td.st-head-row {
            background-color: white;
          }
          .col-actions {
            position: absolute; padding-bottom: 2em; left: 0; right: 0; width: auto; margin: 0 auto;

            .table_actions {
              padding: 0 12em;
            }
          }
        }
      }
      tr + tr + tr {
        .st-head-row {
          padding-top: 4em;
        }
      }
    }
  }
}

