.logged_in {
  .blank_slate_container {
    @extend %large_cta;
  }
  #wrapper {
    @extend %admin-wrapper;
  }
}
.logged_in.index {
  #wrapper #active_admin_content #main_content_wrapper {
      border-top-width: 0;
      background-color: $grey_lightest;
  }
}
.logged_in {
  #search_status_sidebar_section {
    padding: 2em;
    h3 {
      @extend .h3;
      margin: 0 0 .5em;
      grid-area: header;
    }
  }
}

