%table_header_cell {
  position: relative; padding: .75em .5em;
  background: $grey_lightest;
  color: $grey;
  font-weight: 400;
  text-align: left;
  white-space: nowrap;
}
%table_normal_cell {
  background:white;
  border-bottom: 1px solid $grey_lighter;
  color: $grey_dark;
  padding: .75em .65em;
  @extend .para_style;
}
.table_normal_cell {
  @extend %table_normal_cell;
}
.table_header_cell {
  @extend %table_header_cell;
}
.logged_in {
  #wrapper {
    .table_actions {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      a {
        @extend %general_link;
        margin: 0 0.25em;
      }
    }

    .index_as_table {
      @extend %index_table;
    }

    .index_as_grid {
      max-width: $large_break; margin: 0 auto;

      .resource_selection_toggle_panel { display: none ;}
      table {
        margin: 0.5em 0.5em 0 0.5em;
        tbody {
          tr {
            td {
              width: 26%; height: 12em
            }
            td:first-child {
              padding-right: 0.25em;
            }
            td:last-child {
              padding-left: 0.25em;
            }
            td {
              a {
                img {
                  width:100%; height:100%; margin-bottom: 0.125em;
                  -o-object-fit: cover;
                     object-fit: cover;
                  opacity: 1;
                  -webkit-transition: 0.2s;
                  transition: 0.2s
                }
                img:hover {
                  opacity: 0.8;
                }
              }
            }
          }
        }
      }
    }

    @include respond-to-less-than($large_break) {
      #index_footer {
        padding: 0 0 1em;

        .pagination_information {
          padding-top: 4.5em;
        }
      }
    }
  }
}

