.logged_in {
  #titlebar_right {
    .action_items {
      height: 100%;
      display: flex;

      span.action_item > a, #title_bar .action_items div.action_item {
        @extend %action_button;
        display: flex;
        align-items: center;
        svg { fill: $blue;}
      }
      div.action_item {
        &.active {
          background: $blue; color: white;
          svg { fill: white; }
        }
        .arrow svg { transition: .2s; }
        &:hover {
          > svg { fill: white }
          .arrow svg { transform: rotate(180deg) }
          span svg { fill: $blue }
        }
      }
    }
  }
}
