.logged_in {
  #wrapper {
    .table_tools {
      .batch_actions_selector {
        align-items: flex-end;
        position: relative;
        .dropdown_menu_button {
          @extend %filter_dropdown;
          display: inline-block;
          background: $blue;
          padding: .5em 1em;
          margin: .5em .5em;
          flex: 0 1 6.5em;
          text-decoration: none;

          &:hover {
            background: $blue_dark;
          }

          &:after {
            content: '';
            border: solid white;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 2px;
            transform: rotate(45deg);
            vertical-align: middle;
            margin: 0 0 .25em .5em;
          }
        }
        .dropdown_menu_list {
          margin: 0; padding: 0; list-style-type: none;
          position: absolute;
          padding: .5em 1em;
          margin-left: .5em; margin-top: -.5em;
          background: $white;
          box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.3);
          a {
            @extend %breadcrumb_link;
          }
        }
      }
    }
  }
}
