.logged_in {
  #wrapper {
    .table_tools {
      .batch_actions_selector {
        align-items: flex-end;
        position: relative;
        .dropdown_menu_button {
          @extend %filter_dropdown;
          flex: 0 1 6.5em;
          display: inline-block; padding: .5em 1em; margin: .5em .5em;
          background: $blue;
          text-decoration: none;

          &:hover {
            background: $blue_dark;
          }

          &:after {
            content: '';
            display: inline-block; padding: 2px; margin: 0 0 .25em .5em;
            border: solid white; border-width: 0 2px 2px 0;
            transform: rotate(45deg);
            vertical-align: middle;
          }
        }
        .dropdown_menu_list {
          position: absolute; margin: -.5em 0 0 .5em; padding: .5em 1em; list-style-type: none;
          background: $white;
          box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.3);
          a {
            @extend %breadcrumb_link;
          }
        }
      }
    }
  }
}
