%admin-wrapper {
  display: -ms-grid; display: grid;
  -ms-grid-column-align: stretch; -ms-grid-row-align: stretch;
  align-content: stretch;
  -ms-grid-columns: 18em 100fr;
  -ms-grid-rows: 4em 100fr 50px;
  grid-template-columns: [sidebar] 18em [main-content] 100fr;
  grid-template-rows: [header] 4em [content] 100fr [footer] 50px;
  grid-template-areas:
    "sidebar content-header"
    "sidebar content-main"
    "sidebar footer";
  min-height: 100%;
  height: 100vh;

  &.minimise_header {
    -ms-grid-columns: 3em 100fr;
    grid-template-columns: [sidebar] 3em [main-content] 100fr;
  }

  #header {
    display: -ms-grid; display: grid;
    -ms-grid-row: 1; -ms-grid-column: 1; -ms-grid-row-span: 3;
    grid-column: sidebar/main-content;
    grid-row: sidebar;
    align-self: stretch;

    -ms-grid-rows: auto auto 2em 100fr;
    grid-template-rows: [open-close] auto [title] auto [account-info] 2em [navigation] 100fr;
    
    padding: .5em 0;
    background: $header;
    
    ul { list-style: none }

    #open_close {
      -ms-grid-row: 1; 
      -ms-grid-column-align: end;
      grid-row: open-close/title;
      justify-self: right;
      display: inline-block; margin: 0.5em 0.5em 0 0; width: 2em; height: 2em;
      border: 0.2em solid white; border-radius: 50%;
      transition: 0.2s;

      &:hover {
        cursor: pointer;
      }

      &.open:after {
        content: '';
        display: inline-block; margin-top: 0.55em; margin-left: 0.6em; width: 0.5em; height: 0.5em;
        border-top: 0.2em solid white; border-right: 0.2em solid white;
        transform: rotate(-135deg);
      }
      &.closed:after {
        content: '';
        display: inline-block; margin-top: 0.55em; margin-left: 0.45em; width: 0.5em; height: 0.5em;
        border-top: 0.2em solid white; border-right: 0.2em solid white;
        transform: rotate(45deg);
      }
    }
    #site_title {
      -ms-grid-row: 2;  
      -ms-grid-column-align: center;
      grid-row: title/account-info;
      justify-self: center;
      width: 70%;
      margin: -1.5em 0 1em -2em;
      box-sizing: border-box;
      font-size: 1em; font-weight: 400;
      color: white;
      img { margin-bottom: 0.5em; width: 100%; }
    }
    #utility_nav {
      -ms-grid-row: 3; 
      -ms-grid-column-align: center;
      grid-row: account-info/navigation;
      align-self: center;
      justify-self: center;
      width: 100%;
      padding: 0 1.5em;
      box-sizing: border-box;
    }
    #tabs {
      -ms-grid-row: 3;
      grid-row: navigation;
      list-style: none;
      padding: 2em 0 0; margin: 0;
      a {
        @extend %nav_link;
        padding: .5em 1.5em;
        display: block;
      }
      li.current a {
        @extend %nav_link_active;
        padding: .5em 1.5em;
      }
    }
  }

  #title_bar {
    display: -ms-grid; display: grid;
    -ms-grid-row: 1; -ms-grid-column: 2; -ms-grid-column-span: 1; -ms-grid-row-span: 1;
    grid-column: main-content;
    grid-row: header/content;
    padding: 0 0 0 2em;
    
    -ms-grid-columns: auto auto;
    grid-template-columns: [info] auto [actions] auto;

    #titlebar_left {
      -ms-grid-column: 1;
      grid-column: info/actions;
      -ms-grid-column-align: left; justify-self: left;
      align-self: center;
    }
    #titlebar_right {
      -ms-grid-column: 2;
      grid-column: actions;
      -ms-grid-column-align: right; justify-self: right;
      height: 100%;
    }
  }

  #active_admin_content {
    display: -ms-grid; display: grid;
    -ms-grid-row: 2; -ms-grid-column: 2; -ms-grid-row-span: 1;
    grid-column: main-content;
    grid-row: content;

    -ms-grid-rows: 100fr;
    grid-template-rows: [content] 100fr;

    &.with_sidebar {
      display: -ms-grid; display: grid;
      -ms-grid-rows: auto 100fr;
      grid-template-rows: [sidebar] auto [content] 100fr;
    }
    #main_content_wrapper {
      -ms-grid-row: 1;
      grid-row: content;
      background: white;
      border-top: $grey_lightest;
      border-top-width: .1em;
      border-top-style: solid;

      #main_content {
        form {
          @extend %admin_form_basics;
          .actions {
            a {
              @extend %general_link;
            }
          }
        }
      }
    }
  }

  #footer {
    -ms-grid-row: 3; -ms-grid-column: 2; -ms-grid-column-span: 1;
    grid-column: footer;
    grid-row: footer;
  }

  .formtastic   { padding: 2em; }

  .table_tools {
    display: -ms-grid; display: grid;
    -ms-grid-columns: 100fr;
    -ms-grid-rows: auto 1fr;
    grid-template-columns: 100fr;
    grid-template-rows: [scopes] auto [bacth-actions] 1fr;
    justify-content: space-between;
    background-color: $grey_lightest;

    .scopes {
      grid-row: scopes;
    }
    .batch_actions_selector {
      grid-row: batch-actions;
    }
  }

  #index_footer {
    @extend .para_small_style;
    padding: 1em 0;
    background-color: $grey_lightest;
  }

  #footer {
    padding: 1em;
    p {
      @extend .para_small;
      margin: 0;
    }
    a {
      @extend %general_link;
    }
  }
}

%breadcrumbs {
  .breadcrumb {
    @extend .para_small_style;
    color: $blue;
    a {
      @extend %general_link;
      text-decoration: none;
    }
    .breadcrumb_sep {
      display: inline-block; margin: 0 6px 0 3px; padding: 2px;
      font-size: 0;
      border: solid $blue; border-width: 0 2px 2px 0;
      transform: rotate(-45deg);
      vertical-align: middle;

    }
  }
  h2 {
    @extend .para_small_style;
    display: inline-block;
    font-weight: bold;
  }
  .breadcrumb #page_title {
    @extend .h1;
    margin: 0;
  }
}
