#filters_sidebar_section {
  @extend %blue_section;
  h3 { display: none; }
}
.clear_filters_btn {
  @extend %tab_link;
  text-decoration: none;
  transition: .2s;
  &:hover {
    color: white;
  }
}
#search-status-_sidebar_section {
  display: none;
}
.filter_form {
  display: -ms-grid; display: grid;
  -ms-grid-columns: auto 12em;
  grid-template-columns: [filters] auto [buttons] 12em;
  grid-auto-flow: row;
  .buttons {
    -ms-grid-column: 2;
    padding: 0.5em 1em;
    grid-column: buttons;
    display: flex;
    justify-content: start;
    align-items: baseline;
  }

  input[type="submit"] {
    @extend %small_button;
    padding: 8px 12px; margin-right: 1em;
    color: white; border: none; background: $blue_dark;
    &:hover {
      background: darken($blue_dark, 10%);
    }
    &:before {
      content: ' ';
      display: inline-block; width: 20px; height: 20px; margin-right: .25em;
      background: image-url('svgs/tick.svg') no-repeat;
    }
  }
  .filter_fields {
    -ms-grid-column: 1;
    grid-column: filters/buttons;
    display: flex;
    align-items: left;
    flex-wrap: wrap;
    justify-content: space-between;
    .input {
      display: flex;
      padding: 0.5em;
      align-items: center;
      flex: 0 0 49%;
      select + input {
        margin-left: 1em;
      }

      label {
        flex: 0 0 7em;
        @extend %filter_label;
        margin-right: 1em;
        white-space: pre-wrap;
      }
      & > select {
        @extend %filter_dropdown;
        flex: 1;
        cursor: pointer;
        background: $blue;
      }
      input {
        flex: 1 1 50%;
        @extend %filter_field;

        &:nth-of-type(2) {
          margin-left: 0.5em;
        }
        &.datepicker {
          @extend %filter_dropdown;
          cursor: pointer;
          background: $blue;

          &:focus {
            border-color: white;
            color: white;
          }
        }
      }
      input::placeholder {
        color: white;
      }
    }
  }
}
