%login_form_basics {
  fieldset {
    padding: 0; margin: 0;
    border: none;
    &.actions {
      margin-top: 1em;
      ol {
        display: flex;
        .input_action {
          margin-right: 1em;
        }
      }
    }
    ol {
      list-style-type: none;
      padding: 0; margin: 0;
      li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom:.5em;
        &.error { flex-wrap: wrap; }
        &.boolean label {}
        &.input_action input { @extend %button; }
        &.password, &.email, &.string, &.select {
          & > label {
            flex: 1 0 120px;
            max-width: 150px;
          }
          label {
            @extend .para_style;
            margin-right: 1em;
            abbr {
              text-decoration: none;
            }
          }
          & > input {
            flex: 1 0 150px;
            min-height: 30px;
          }
          input, select {
            @extend %text_input_field;
          }
        }
        textarea {
          @extend %text_input_field;
          height: 10em; width: 100%;
        }
        .field_with_errors {
          &:nth-child(1) {
            flex: 1 0 120px;
            max-width: 150px; margin-right: 1em;
          }
          &:nth-child(2) {
            flex: 1 0 150px;
          }
          label { color: $alert; }
          input { border-color: $alert; width: 100%;}
        }
        .inline-errors {
          flex-basis: 100%;
          margin: 0;
          color: $alert;
        }
      }
    }
  }
}
%admin_form_basics {
  legend {
    @extend %label;
  }
  fieldset {
    padding: 0; margin: 0;
    border: none;
    &.actions {
      padding-top: 1em;
      ol {
        display: flex;
        align-items: center;
        .input_action {
          margin-right: 1em;
        }
      }
    }
    ol {
      list-style-type: none;
      padding: 0; margin: 0;
      li {
        display: flex;
        justify-content: flex-start;
        flex-flow: column;
        margin-bottom: 1.5em;
        &.error { flex-wrap: wrap; }
        &.boolean label {}
        &.input_action input { @extend %button; }
        &.file_modified {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin-top: 1em;
          input {
            position: absolute; width: 0.1px; height: 0.1px;
            opacity: 0;
            overflow: hidden;
            z-index: -1;
            & + label {
              @extend %button;
              flex: 1 0 200px;
              display: inline-block;
              width: 45%;
            }
          }
          .file_name {
            width: 45%; padding-left: .5em;
            color: $blue;
          }
        }
        &.boolean {
          label {
            @extend %label;
          }
        }
        &.password, &.email, &.string, &.select, &.text, &.number, &.datepicker, &.phone {
          & > label {
            width: 100%;
          }
          label {
            @extend %label;
          }
          & > input {
            width: 100%;
          }
          input {
            @extend %admin_text_input_field;
          }
          select {
            @extend %text_input_field;
          }
          textarea {
            @extend %admin_text_input_field;
            height: 10em; width: 100%;
          }
        }
        .field_with_errors {
          &:nth-child(1) {
            flex: 1 0;
            margin-right: 1em;
          }
          &:nth-child(2) {
            flex: 1 0 50px;
          }
          label { color: $alert; }
          input { border-color: $alert; width: 100%;}
        }
        .inline-errors {
          flex-basis: 100%;
          margin: 0 0 15px 0;
          color: $alert;
        }
      }
    }
  }
}
