#custom-wrapper {
  min-height: 100vh;
  display: grid;
  align-content: stretch;
  grid-template-columns: 14em 1fr;
  grid-template-rows: 1fr 50px;
  grid-template-areas:
    "sidebar content"
    "sidebar footer";
  #header {
    grid-area: sidebar;
    grid-row: 1/3;
    grid-column: auto;
    align-self: stretch;
  }
  #footer {
    grid-area: footer;
  }
  #active_admin_content {
    grid-area: content;
    grid-template-rows: none;
  }
  #main_content_wrapper {
    grid-row: auto;
  }
  #page_edit_content_grid {
    display: grid;
    grid-template-rows: 8em 1fr 50px;
  }
  #title_bar {
    grid-column: auto;
    grid-row: auto;
    display: grid;
    background: white;
    align-self: stretch;
  }

}
.logged_in {
  .blank_slate_container {
    @extend %large_cta;
  }
  #wrapper {
    min-height: 100vh;
    display: grid;
    align-content: stretch;
    grid-template-columns: [sidebar] 14em [main-content] 100fr;
    grid-template-rows: [header] 8em [content] 100fr [footer] 50px;
    grid-template-areas:
      "sidebar content-header"
      "sidebar content-main"
      "sidebar footer"
  }

  #active_admin_content {
    grid-column: main-content;
    grid-row: content;
    display: grid;
    grid-template-rows: [content] 100fr;
    &.with_sidebar {
      display: grid;
      grid-template-rows: [sidebar] auto [content] 100fr;
    }
  }
  #main_content_wrapper {
    background: $grey_lightest;
  }
  #collection_selection, .formtastic   { @extend %main_content_container; }
  #main_content {
    form {
      @extend %admin_form_basics;
      .actions {
        a {
          @extend %breadcrumb_link;
        }
      }
    }
  }

  #resource_tabs {
    @extend %blue_section;
    padding: 0 2em;
    display: flex;
    align-items: stretch;
    height: 4em;
    h3 { display: none; }
    .links {
      @extend %tab_link;
      height: 1em;
      padding: 1.8em 0;
      margin-right: 3em;
      text-decoration: none;
      position: relative;
      &.active:after {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: calc(50% - 4px);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8px 8px 8px;
        border-color: transparent transparent $grey_lightest transparent;
      }
    }
  }
  #search-status-_sidebar_section {
    padding: 1em 2em;
    h3 {
      @extend .h3;
      margin: 0 0 .5em;
      grid-area: header;
    }
    .panel_contents {
      span {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas:
          "scope filters";
        h4, b {
          grid-area: scope;
        }
        h4 { margin: 0 }
        & > div {
          grid-area: filters;
          margin-top: -10px;
        }
      }

    }
  }
  .table_tools {
    display: grid;
    grid: auto/1fr 1fr;
    justify-content: space-between;
    .batch_actions_selector {
      align-items: flex-end;
      position: relative;
      .dropdown_menu_button {
        @extend %breadcrumb_link;
        display: inline-block;
        background: $white;
        padding: .5em 1em;
        flex: 0 1 6.5em;
      }
      .dropdown_menu_list {
        margin: 0; padding: 0; list-style-type: none;
        position: absolute;
        padding: .5em 1em;
        background: $white;
        box-shadow: 4px 4px 6px 0px rgba(0, 0, 0, 0.3);
        a {
          @extend %breadcrumb_link;
        }
      }
    }
  }
  .display-avatar {
    @extend %display-avatar;
  }
  #index_footer {
    max-width: 60vw;
    margin: 1em 0;
    @extend .para_small_style;

    .pagination_information, .download_links {
      @extend .para_small_style;
      a { @extend %breadcrumb_link; }
    }
    .pagination {
      @extend .para_small_style;
      margin-bottom: .5em;
      .page {
        color: $blue;
        margin-right: .25em;
        &.current {
          display: inline-block; padding: .5em .75em;
          background: $blue;
          color: $white;
        }
        a {
          background: $white;
          text-decoration: none; color: inherit; padding: .5em .75em; display: inline-block;
        }
      }
      .next a, .last a, .prev a, .first a {
        @extend %breadcrumb_link;
      }
    }

  }
  .table_actions {
    display: flex;
    justify-content: space-around;
    a { @extend %breadcrumb_link; }
  }
  .scopes {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    list-style-type: none;
    .scope {
      a {
        @extend %breadcrumb_link;
        background: $white;
        display: block;
        padding: .5em 1em;
        margin-left: .5em;
        text-decoration: none;
      }
      &.selected a {
        @extend %breadcrumb_link;
        background: $blue;
        color: $white;
      }

    }
  }
  .index_as_table {
    table {
      width: 100%;
      tbody {
        td {
          @extend .para_small_style;
          padding: .75em .65em;
          a {
            @extend %breadcrumb_link;
          }
        }
        tr {
          td {
            background:white;
            border-bottom: 1px solid $grey_lighter;
            @extend .para_style;
          }
        }
      }
      thead {
        th {
          padding: .75em .5em;
          background: $blue;
          color: $white;
          text-align: left;
          a {
            @extend .para_style;
            color: inherit;
            text-decoration: none;
          }
        }
      }
    }
  }
  #resource_tabs {
    grid-row: sidebar/content;
  }
  #footer {
    padding: 1em 2em;
    p {
      @extend .para_small;
      margin: 0;
    }
    a {
      @extend %breadcrumb_link;
    }
  }
}
