.logged_in {
  #wrapper {
    #index_footer {
      .pagination_information, .download_links {
        @extend .para_small_style;
        display: inline-block;
        a { @extend %general_link; }
      }
      .pagination_information, .download_links span {
        padding-left: 1em;
        color: $grey;
      }
      .pagination_information { padding-left: 1em; }
      .download_links span { padding-left: 0.5em; }
      .download_links {
        &:before {
          content: '|';
          padding: 0 .5em;
        }
      }
      .pagination {
        @extend .para_small_style;
        margin-bottom: .5em; padding-left: 1em;
        .page {
          color: $blue;
          margin-right: .25em;
          &.current {
            display: inline-block; padding: .5em .75em;
            background: $blue;
            color: $white;
          }
          a {
            background: $white;
            text-decoration: none; color: inherit; padding: .5em .75em; display: inline-block;
          }
        }
        .next a, .last a, .prev a, .first a {
          @extend %general_link;
        }
      }
    }
  }
}
