.logged_in {
  #wrapper {
    #active_admin_content {
      #main_content_wrapper {
        #main_content {
          .scopes {
            display: flex;
            justify-content: flex-end;
            margin: 0;
            list-style-type: none;
            .scope {
              a {
                @extend %breadcrumb_link;
                background: $white;
                display: block;
                padding: .5em 1em;
                margin-left: .5em;
                text-decoration: none;
              }
              &.selected a {
                @extend %breadcrumb_link;
                background: $blue;
                color: $white;
              }
            }
          }
        }
      }
    }
  }
}
