.logged_in {
  #wrapper {
    .table_actions {
      display: flex;
      justify-content: space-around;
      a {
        @extend %general_link;
        margin: 0 0.25em;
      }
    }

    .index_as_table {
      table {
        width: 100%;
        tbody {
          td {
            @extend .para_small_style;
            padding: .75em .65em;
            a {
              @extend %general_link;
              font-size: 16px;
            }
          }
          tr {
            td {
              background:white;
              border-bottom: 1px solid $grey_lighter;
              color: $grey_dark;
              @extend .para_style;
            }
            > td:not(.col-selectable):first-child {
              padding-left: 1em;
            }
          }
        }
        thead {
          tr {
            th {
              position: relative; padding: .75em .5em;
              background: $grey_lightest;
              color: $grey;
              font-weight: 400;
              text-align: left;
              white-space: nowrap;
              a {
                @extend .para_style;
                position: relative; margin-right: 1em;
                color: inherit;
              }
              &.sortable {
                a:before, a:after {
                  content: "";
                  position: absolute; display: block; height: 0; width: 0; right: 5px; top: 50%;
                  border: 4px solid transparent;
                }
                a:before {
                  margin-right: -1.2em; margin-top: -.5em;
                  border-bottom-color: #666;
                }
                a:after {
                  margin-right: -1.2em; margin-top: .15em;
                  border-top-color: #666;
                }
              }
            }
            > th:not(.col-selectable):first-child {
              padding-left: 1em;
            }
          }
        }
      }
    }
    @include respond-to-less-than($large_break) {
      .index_as_table {
        table {
          position: relative; margin-bottom: 3em;
          border-collapse: collapse; border-bottom: 1em solid $grey_lightest;

          &:last-child {
            margin-bottom: 0;
          }

          tbody {
            tr {
              td {
                border: none;

                .resource_selection_toggle_cell, .resource_selection_cell {
                  display: none;
                }

                &.st-head-row {
                  background-color: white;
                }
              }
              .col-actions {
                position: absolute; padding-bottom: 2em; left: 0; right: 0; width: 100%; margin: 0 auto;

                .table_actions {
                  padding: 0 12em;
                }
              }
            }
          }
          tr + tr + tr {
            .st-head-row {
              padding-top: 4em;
            }
          }
        }
      }
      #index_footer {
        padding: 0 0 1em;

        .pagination_information {
          padding-top: 4.5em;
        }
      }
    }
  }
}
