.logged_in {
  #wrapper {
    .table_actions {
      display: flex;
      justify-content: space-around;
      a { @extend %breadcrumb_link; }
    }

    .index_as_table {
      table {
        width: 100%;
        tbody {
          td {
            @extend .para_small_style;
            padding: .75em .65em;
            a {
              @extend %breadcrumb_link;
            }
          }
          tr {
            td {
              background:white;
              border-bottom: 1px solid $grey_lighter;
              color: $grey_dark;
              @extend .para_style;
            }
          }
        }
        thead {
          th {
            padding: .75em .5em;
            background: $grey_lightest;
            color: $grey;
            text-align: left;
            a {
              @extend .para_style;
              color: inherit;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
