.logged_in {
  #wrapper {
    #utility_nav {
      li {
        display: inline-block;

        &#current_user {
          @extend %user_link;
          display: flex;
          align-items: center;
          margin-right: 1em;
          &:before {
            content: ' ';
            display: inline-block; width: 20px; height: 20px; margin-right: .25em; margin-left: -.25em;
            background: image-url("svgs/user.svg") no-repeat;
          }
        }
      }
      #logout {
        @extend %sign_out_link;
      }
      a {
        color: inherit;
      }
    }
  }
}
