@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@import './variables';
@import './fonts';
@import './elements';
@import './form_elements';
@import './login_screen';
@import './logged_in';
@import './filter_bar';
@import './datepicker';
@import './dialog';
@import './resource_view';

body { margin: 0; padding: 0; font-family: 'Lato', sans-serif;}
#header {
  grid-column: sidebar/main-content;
  grid-row: sidebar;
  align-self: stretch;
  background: $brand-alt;
  display: grid;
  grid-template-rows: [hamburger] auto [title] auto [account-info] 2em [navigation] 100fr;
  padding: .5em 0;
  ul { list-style: none }
}
#hamburger {
  grid-row: hamburger/title;
  justify-self: right;
  content: '';
  margin-right: 1em; margin-top: 1em;
  z-index: 2;
  height: 20px;
  width: 20px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='20px' height='20px' viewBox='0 0 20 20' enable-background='new 0 0 20 20' xml:space='preserve'><rect width='20' height='4' fill='white' /><rect y='16' width='20' height='4' fill='white' /><rect y='8' width='20' height='4' fill='white' /></svg>");
  background-size: contain;
}
#site_title {
  grid-row: title/account-info;
  justify-self: center;
  width: 100%;
  margin: 1em 0; padding: 0 20px;
  box-sizing: border-box;
  font-size: 1em; font-weight: 400;
  color: white;
  img { display: block; width: 100%; }
}
#utility_nav {
  grid-row: account-info/navigation;
  align-self: center;
  justify-self: center;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  li {
    display: inline-block;
  }
  a {
    color: inherit; text-decoration: none;
  }
}
li#current_user {
  display: flex;
  align-items: center;
  margin-right: 1em;
  &:before {
    content: ' ';
    background: image-url("svgs/user.svg") no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: .25em;
  }
}
#tabs {
  grid-row: navigation;
  list-style: none;
  padding: 2em 0 0; margin: 0;
  a {
    @extend %nav_link;
    padding: 8px 20px;
    display: block;
  }
  li.current a {
    @extend %nav_link_active;
    padding: 8px 20px;
  }
}
#current_user {
  @extend %user_link;
  margin-right: .5em;
}
#logout {
  @extend %sign_out_link;
}
#title_bar {
  grid-column: main-content;
  grid-row: header/flash;
  padding: 0 0 0 2em;
  display: grid;
  grid-template-columns: [info] auto [actions] auto;
}
#titlebar_left {
  grid-column: info/actions;
  justify-self: left;
  align-self: center;
  .breadcrumb {
    @extend .para_small_style;
    color: $blue;
    a {
      @extend %breadcrumb_link;
    }
    .breadcrumb_sep {
      font-size: 0;
      border: solid $blue;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 2px;
      transform: rotate(-45deg);
      vertical-align: middle;
      margin: 0 6px 0 3px;
    }
  }
  h2 {
    @extend .para_small_style;
    display: inline-block;
    font-weight: bold;
  }
}
#titlebar_right {
  grid-column: actions;
  justify-self: right;
  height: 100%;
}
#page_title {
  @extend .h1;
  margin: 0;
}

.flash {
  grid-column: main-content;
  grid-row: flash/content;
  padding: 1em 2em;

  &_notice {
    background-color: $notice;
    color: white;
  }
}

#main_content_wrapper {
  grid-row: content;
}
#footer {
  grid-column: footer;
  grid-row: footer;
}
#title_bar .action_items {
  height: 100%;
  display: flex;
}
#title_bar .action_items span.action_item > a, #title_bar .action_items div.action_item {
  @extend %action_button;
  display: flex;
  align-items: center;
  svg { transition: .2s;  fill: $blue;}
  &:hover svg { fill: white;}
}
#title_bar .action_items div.action_item.active {
  background: $blue; color: white;
  svg { fill: white; }
}
#title_bar .action_items div.action_item:hover > svg { fill: white }
#title_bar .action_items div.action_item:hover .arrow svg { fill: white; transform: rotate(180deg) }
#title_bar .action_items div.action_item:hover .arrow:hover svg { fill: white }
#title_bar .action_items div.action_item:hover span svg { fill: $blue }
#title_bar .action_items div.action_item:hover span:hover svg { fill: white }
