@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

@import './variables';
@import './fonts';
@import './responsive';
@import './elements';
@import './form_elements';
@import './login_screen';
@import './logged_in';
@import './filter_bar';
@import './datepicker';
@import './dialog';
@import './resource_view';
@import './tables';
@import './pagination';
@import './batch_actions';
@import './scopes';
@import './action_items';
@import './breadcrumbs';
@import './flash';
@import './utility_nav';
@import './stackable';
@import './tabs';

html, body {
  width: auto; height: auto; margin: 0px; padding: 0px;
}

html {
  position: absolute;
}

body { position: relative;margin: 0; padding: 0; display: inline-block; font-family: 'Lato', sans-serif;}
a { text-decoration: none; }
